
    body {
      margin: 0;
      font-family: Arial, sans-serif, bold;
      background-image: url("https://t4.ftcdn.net/jpg/02/84/46/89/360_F_284468940_1bg6BwgOfjCnE3W0wkMVMVqddJgtMynE.jpg");
      background-size: cover;
    }

    h1 {
      text-align: center;
      color: white;
      margin-bottom: 2px; /* Increased space between title and form */
    }

    .login-container {
      position: relative;
      height: 60vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    form {
      background: white;
      padding: 40px; /* Adjusted padding for more space inside the form */
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      width: 300px; /* Limit form width */
    }

    label {
      display: block;
      margin-bottom: 10px; /* Reduced space between form elements */
    }

    input[type="text"],
    input[type="checkbox"],
    button {
      width: calc(100% - 16px); /* Adjusted width for better alignment */
      padding: 8px;
      margin-bottom: 10px; /* Reduced space between form elements */
      border-radius: 4px;
      border: 1px solid #ccc;
    }

    button {
      background-color: #007bff;
      color: white;
      border: none;
      cursor: pointer;
      color: beige;
    }
    a
    {
      text-decoration: none;
      color: ivory;
    }

    button:hover {
      background-color: #0056b3;
    }
